.Rproj.user
.Rhistory
.RData
.Ruserdata
data/euka_emose_roberta.xlsx
data/protist_meta_initial_Rob
data/protist_meta_initial_Rob.xlsx
data/ERR2098508_1.fastq.gz
data/ERR2098508_2.fastq.gz
AnalysisJob.csv
ERP090011_IPR_abundances_v4.1.tsv
ERP090011_IPR_abundances_v5.0.tsv
Figure 2 revised.pdf
Figure 3 revised.pdf
Figure 7 revised.pdf
Figure 8 revised.pdf
MergedFile.pdf
Positive control results: Prokaryotes STAG Mock HiSeq.pdf
Supplementary Figure S1.pdf
betadiversity legend.pdf
data/ERR2196993_1.fastq.gz
data/ERR2196993_2.fastq.gz
Revised_results/
checkStag/
data/filtered
data/prok_stag_custom_reference
